body {
    font-family: sans-serif;
}
h1 {
    color: orangered;
    font-weight: 100;
    letter-spacing: -0.025em;
    font-size: 3.5rem;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    margin: 0 1rem;
}
.mac-list {
    font-size: 1.5rem;
    color: grey;
    line-height: 1.25em;
    margin-bottom: 0.5em;
}
